body{
    padding: 2em;
}
#heading{
    color: grey;
    font-family: sans-serif;
}
.contact-container{
    float: inherit;
    display: flex;
    background-color: lightblue;
    color: white;
    width: inherit;
    padding: 1em;
    justify-content: space-between;
}
#main-div{
    display: flex;
    justify-content: center;
    width: 70%;
}
input{
    border: 0px;
    border-bottom: 2px solid grey ;
}
button{
    background-color: black;
    color: white;
    border: 0px;
}
ul{
    list-style: none;
    text-align: center;
}
.contact-container:hover{
    background-color: grey;
}